extends base

mixin navItem(link, text, icon, active)
    li(class = `${active ? 'active' : ''}`)
        a(href=`${link}`) 
            | #{text}
            img.navItems-icons(src=`img/icons/${icon}.png`, alt=`${icon}`)

block content 
    #main-content 
        #user-view
            #user-account-menu
                if (user.role === 'staff')
                    ul.side-nav 
                        +navItem('/me', 'Settings', 'settings', true)

                else if (user.role === 'student')
                    ul.side-nav 
                        +navItem('/me', 'Settings', 'settings', true)
                        +navItem('#', 'My Books', 'books')

                else if (user.role === 'librarian')
                    ul.side-nav 
                        +navItem('/me', 'Settings', 'settings', true)
                        +navItem('/create-user', 'Create User', 'create-user')
                        +navItem('/students', 'Students', 'students')
                        +navItem('/staff', 'Staff', 'staff')
                        +navItem('#', 'Books', 'books')

            block user-account