extends account

mixin createUser(id, labelName, type, name, required=false)
    label(for=`${id}`) 
        | #{labelName}
    input.form-user-data-input(id=`${id}` , type=`${type}`, name=`${name}`, required=required)

block user-account
    #user-account-content
        .form-user-heading
            | Create User
        form.form.create-user-form
            +createUser("name", "Name", "text", "name", true)
            +createUser("email", "Email Address", "email", "email", true)
            label(for="role")
                | Role
            select#role(name="users-role", required)
                option(value="student") Student
                option(value="staff") Staff
            +createUser("gender", "Gender", "text", "gender", true)
            +createUser("number", "Phone No.", "number", "number", true)
            +createUser("password", "Password", "password", "password", true)
            +createUser("confirm-password", "Confirm Password", "password", "confirm-password", true)
            .settings-btn
                button#create-user-btn.update-create-btn
                    | Create User
