extends base

mixin deleteUser(id, labelName, type, name, value, disabled=false)
    label(for=`${id}`) 
        | #{labelName}
    input.user-container-input(id=`${id}` , type=`${type}`, name=`${name}`, value=`${value}`, disabled=disabled)

block content
    #main-content
        #update-user-container-form
            form#delete-user-form
                #user-container-update
                    #user-container-header
                        img#user-container-photo(src=`/img/users/${deleteUserForm.photo}`, alt=`${deleteUserForm.name} image`)
                        input#name(type="text", value=`${deleteUserForm.name}`, name="name")
                    #user-container-main
                        #user-container-main-heading
                            | Details
                        +deleteUser("id", "Id", "text", "id", `${deleteUserForm._id}`, true)
                        +deleteUser("email", "Email Address", "email", "email", `${deleteUserForm.email}`, true)
                        +deleteUser("gender", "Gender", "text",  "gender", `${deleteUserForm.gender}`, true)
                        +deleteUser("number", "Phone No.", "number", "number", `${deleteUserForm.number}`, true)
                    #user-container-footer
                        button#delete-user
                            | Delete