extends base

block content
    #main-content
        #update-user-container-form
            form#delete-user-form
                #user-container-update
                    #user-container-header
                        img#user-container-photo(src=`/img/users/${deleteUserForm.photo}`, alt=`${deleteUserForm.name} image`)
                        input#name(type="text", value=`${deleteUserForm.name}`, name="name")
                    #user-container-main
                        #user-container-main-heading
                            | Details
                        label(for="id")
                            | Id
                        input#id.user-container-input(type="text", value=`${deleteUserForm._id}`, name="id", disabled)
                        label(for="email")
                            | Email Address
                        input#email.user-container-input(type="email", value=`${deleteUserForm.email}`, name="email")
                        label(for="gender")
                            | Gender
                        input#gender.user-container-input(type="text", value=`${deleteUserForm.gender}`, name="gender")
                        label(for="number")
                            | Phone No.
                        input#number.user-container-input(type="number", value=`${deleteUserForm.number}`, name="number")

                    #user-container-footer
                        button#delete-user
                            | Delete