extends base

block content
    #main-content 
        .card-container
                each book in books
                    .card 
                        .card-header 
                            img.books-image(src=`/img/books/${book.image}`, alt=`${book.bookName}`)
                        .card-details 
                            .book-name
                                b= `${book.bookName}`
                            b= `Book Author : ${book.bookAuthor}`
                            br
                            b= `Book Publisher : ${book.bookPublisher}`
                        .card-footer 
                            button.book-state= `${book.bookState}`