extends account 

mixin settingUser(id, labelName, type, name, value, required=false, placeholder)
    label(for=`${id}`) 
        | #{labelName}
    input.form-user-data-input(id=`${id}` , type=`${type}`, name=`${name}`, value=`${value}`, required=required, placeholder=placeholder)

block user-account 
        #user-account-content
                .form-user-heading
                        | Your Account Settings
                form.form.form-user-data
                        +settingUser("name", "Name", "text", "name", `${user.name}`)
                        +settingUser("email", "Email Address", "email", "email", `${user.email}`)
                        +settingUser("gender", "Gender", "text", "gender", `${user.gender}`)
                        +settingUser("number", "Phone No.", "number", "number", `${user.number}`)
                        .user-photo-form
                                img#form-user-data-photo(src=`img/users/${user.photo}`, alt='User Photo')
                                input#photo.user-photo-upload(type="file", name="photo", accept="image/*")
                                label(for="photo")
                                        | Choose a new photo
                        .settings-btn
                                button#save-settings-btn.update-create-btn
                                        | Save settings
                hr
                .form-user-heading
                        | Password Settings
                form.form.form-user-password
                        +settingUser("current-password", "Current Password", "password", "current-password", "", true, "********")
                        +settingUser("new-password", "New Password", "password", "new-password", "", true, "********")
                        +settingUser("confirm-password", "Confirm Password", "password", "confirm-password", "", true, "********")
                        .settings-btn
                                button#save-password-btn.update-create-btn
                                        | Save password

