extends account

mixin staffContainer(id, labelName, type, name, value, disabled=false)
    label(for=`${id}`) 
        | #{labelName}
    input.user-container-input(id=`${id}` , type=`${type}`, name=`${name}`, value=`${value}`, disabled=disabled)

block user-account
    #user-account-content
        #display-user-containers
            each staff in staffs
                if (staff.role === 'staff')
                    form#get-user-form
                        #user-container
                            #user-container-header
                                img#user-container-photo(src=`/img/users/${staff.photo}`, alt=`${staff.name} image`)
                                input#name(type="text", value=`${staff.name}`, name="name")
                            #user-container-main
                                #user-container-main-heading
                                    | Details
                                +staffContainer("email", "Email Address", "email", "email", `${staff.email}`, true)
                                +staffContainer("gender", "Gender", "text", "gender", `${staff.gender}`, true)
                                +staffContainer("number", "Phone No.", "number", "number", `${staff.number}`, true)
                            #user-container-footer
                                a.upd-dlt-btn(href=`/update-user?id=${staff._id}`)
                                    | Update
                                a.upd-dlt-btn(href=`/delete-user?id=${staff._id}`)
                                    | Delete
