extends base

mixin updateUser(id, labelName, type, name, value, disabled=false)
    label(for=`${id}`) 
        | #{labelName}
    input.user-container-input(id=`${id}` , type=`${type}`, name=`${name}`, value=`${value}`, disabled=disabled)

block content
    #main-content
        #update-user-container-form
            form#update-user-form
                #user-container-update
                    #user-container-header
                        img#user-container-photo(src=`/img/users/${updateUserForm.photo}`, alt=`${updateUserForm.name} image`)
                        input#name(type="text", value=`${updateUserForm.name}`, name="name")
                    #user-container-main
                        #user-container-main-heading
                            | Details
                        +updateUser("id", "Id", "text","id", `${updateUserForm._id}`, true)
                        +updateUser("email", "Email Address", "email","email", `${updateUserForm.email}`)
                        +updateUser("gender", "Gender", "text","gender", `${updateUserForm.gender}`)
                        +updateUser("number", "Phone No.", "number","number", `${updateUserForm.number}`)

                    #user-container-footer
                        button#update-user
                            | Update